PCB/PortAQI.kicad_prl
PCB/PortAQI-backups/PortAQI-2026-03-18_110521.zip
PCB/_autosave-PortAQI.kicad_sch
PCB/#auto_saved_files#
PCB/fp-info-cache
PCB/PortAQI-backups/PortAQI-2026-03-18_211553.zip
PCB/~PortAQI.kicad_sch.lck
TODO
